<form method='post' action='/users/signin'>
  <label for='username'>Username:
    <input name='username'/>
  </label>
  <label for='password'>Password:
    <input type='password' name='password'/>
  </label>
  <button type='submit'>Sign in</button>
</form>